*{
    box-sizing: border-box;
    margin: 0;

}

body{
    display: flex;
    background-color: rgba(216,206,197,255);
}

.wrapper{
    display: flex;
    margin: 0 auto;
}

img{
    max-width: 100%;
    max-height: 830px;
}
